.navbar {
  background:#28157d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0.6rem 1rem;
}


.brandName {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ead4d4;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.link {
  font-weight: 500;
  margin: 0 12px;
  color: #f1f1f1 !important;
  transition: color 0.3s ease, transform 0.2s ease;
}

.link:hover {
  color: #ffd43b !important;
  transform: translateY(-2px);
}

.cartIcon {
  color: #fff !important;
  position: relative;
}

.cartBadge {
  background:  #d1c3cb;
  color: #000;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
  position: absolute;
  top: 2px;
  right: -8px;
}

.searchInput {
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 0.5rem 1rem;
}

.searchBtn {
  background:  #d1c3cb;
  color: #000;
  border-radius: 0 8px 8px 0;
  font-weight: 600;
  transition: background 0.3s ease;
}

.searchBtn:hover {
  background:lightblue;
}
